*.o
*.obj
*.exe
*.DS_Store
*.log
*.user
*~
.vs/
Debug/
Release/
ORBIS_Debug/
ORBIS_Release/
PSVita_Debug/
PSVita_Release/
*.WAD
*.VC*
.vscode/
elf2dol_DEBUG_EMULATOR.bat
elf2dol_DEBUG_HARDWARE.bat
main.dol
RVL_DefaultD.elf
RVL_DefaultD.MAP
